<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>DMS 321 socialMedia</title>
</head>
    
<body>

<h1>socialMedia</h1>
<a href="/social/">home</a>
<a href="/social/logout">log out</a>

<h2><%= name %></h2>
<div><%= profile %></div>
<% if (following) { %>
<a href="/social/unfollow/<%= id %>">unfollow</a>
<% } else { %>
<a href="/social/follow/<%= id %>">follow</a>
<% } %>

<h3>posts:</h3>
<% for (let i=0; i < posts.length; i++) { %>
<h4><%- posts[i].date %></h4>
<p><%- posts[i].text %></p>
<% } %>

</body>

</html>
