<%- include('htmlheader'); -%>

<p>search results</p>

<table>
<% for (let i=0; i < users.length; i++) { %>
<tr>
<td><a href="/social/profile/<%= users[i].id %>"><%= users[i].name %></a></td>
<td>
<% if (users[i].following) { %>
<a href="/social/unfollow/<%= users[i].id %>">unfollow</a>
<% } else { %>
<a href="/social/follow/<%= users[i].id %>">follow</a>
<% } %>
</td>
</tr>
<% } %>
</table>

</body>

</html>
